/** @format */

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #181818;
  font-size: 16px;
  line-height: 1;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

#main-header {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signin .logo {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 2rem;
}

.signin .info label {
  display: block;
  font-size: 1.5rem;
  margin-top: 2vh;
}

.signin .info .input-field {
  display: block;
  background-color: #181818;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 0.8rem 0.5rem;
  width: 100%;
}

.primary-btn {
  margin-top: 1.5rem;
  padding: 0.8rem 0.3rem;
  background-color: #f96816;
  border: 1px solid #f96816;
  border-radius: 2px;
  width: 100%;
  color: white;
  margin-bottom: 2vh;
  font-size: 1.2rem;
  cursor: pointer;
}

.signin .forgot-pass a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.signin .forgot-pass .last-link {
  margin-bottom: 1rem;
}

.or {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

.or .bar {
  width: 100%;
  height: 1px;
  border: none;
  background: #aaa;
}

.or span {
  padding: 0rem 0.7rem;
  color: #ccc;
}

.secondary-btn {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 0.3rem;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 80%;
  margin: auto;
  text-align: center;
  transition-property: all;
  transition-duration: 0.5s;
  margin-bottom: 1rem;
}

.secondary-btn:hover {
  border: 1px solid #f96816;
  color: #f96816;
}

.footer div {
  width: 100%;
  text-align: center;
}

.footer .flow-text {
  font-size: 1rem;
}

.footer .footer-link {
  color: #f96816;
  font-size: 1rem;
}

#right {
  background-image: url("https://image.ibb.co/cO9Lxq/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.secondary-button {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 0.3rem;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 80%;
  margin: auto;
  text-align: center;
  transition-property: all;
  transition-duration: 0.5s;
  margin-bottom: 1rem;
}

.secondary-button:hover {
  border: 1px solid #46172f;
  background-color: #46172f;
  color: white;
}

@media (min-width: 1200px) {
  #left {
    flex: 4;
  }

  #right {
    flex: 6;
  }
}

@media (max-width: 768px) {
  #right {
    display: none;
  }
}
